@model Product
<form method="post">
    <div class="row">
        <div class="col-6">
            <img class="card-img-top" alt="Изображение товара" />
        </div>
        <div class="col-6">
            @*<div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>*@
            <div class="form-floating">
                <input type="text" class="form-control" name="Name" placeholder="Наименование товара" asp-for="Name" />
                <label asp-for="Name">Наименование</label>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-floating">
                <textarea class="form-control" name="Description" placeholder="Описание" style="height: 200px"></textarea>
                <label>Описание</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control" name="Cost" placeholder="Цена" asp-for="Cost" />
                <label asp-for="Cost">Стоимость</label>
                <span class="text-danger" asp-validation-for="Cost"></span>
            </div>
            <button class="w-100 btn btn-lg btn-success" type="submit" asp-area="Admin" asp-controller="Product" asp-action="AddNewProduct">
                Добавить
            </button>
        </div>
    </div>
</form>