@model Favorites

@if (Model == null || Model.Items.Count == 0)
{
    <h3>В списке пока нет ни одного избранного товара</h3>
}
else
{
    <h3> Избранные товары</h3>
    <a href="/favorites/Clear" role="button"> Очистить </a>
    <div class="row"> 
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена ₽.</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Product.Cost</td>
                            <td>
                                <a class="btn btn-danger" href="/favorites/remove?productId=@item.Product.Id" role="button">-</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}