@model ChangePasswordViewModel
<form method="post">
    <div class="row text-center">
        <div class="col"></div>

        <div class="col">
            <h1 class="h3">Смена пароля</h1>
            <input type="hidden" name="Email" value=@Model.Email />

            <div class="form-floating">
                <input type="email" class="form-control" placeholder="name@example.com" asp-for="Email" />
                <label asp-for="Email">Email</label>
            </div>

            <div class="form-floating">
                <input class="form-control" type="password" placeholder="password" type="password" asp-for="Password" />
                <label asp-for="Password">Пароль</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="password" placeholder="confirmPassword" type="password" asp-for="ConfirmPassword" />
                <label asp-for="ConfirmPassword">Подтвердите пароль</label>
            </div>

            <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
            <button class="w-100 btn btn-lg btn-success" type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">
                Сохранить
            </button>
        </div>
        <div class="col"></div>
    </div>
</form>