@model Register

<form method="post" asp-action="Account" asp-controller="Login">
    <div class="row text-center">
        <div class="col"></div>
        <div class="col">

            <h1 class="h3">Регистрация</h1>

            <div class="form-floating">
                <label asp-for="Email">Email</label>
                <input type="email" class="form-control" placeholder="name@example.com" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="form-floating">
                <label asp-for="Password">Пароль</label>
                <input class="form-control" type="password" placeholder="password" type="password" asp-for="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-floating">
                <label asp-for="ConfirmPassword">Подтвердите пароль</label>
                <input class="form-control" type="password" placeholder="confirmPassword" type="password" asp-for="ConfirmPassword" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            @*<div class="form-floating">
                <input type="password" name="confirmPassword" class="form-control" required placeholder="confirmPassword">
                <label>Подтвердите пароль</label>
            </div>*@

            <button class="w-100 btn btn-lg btn-primary" type="submit" asp-area="" asp-controller="Account" asp-action="Register">
                Зарегистрироваться
            </button>

        </div>
        <div class="col"></div>
    </div>
</form>
