
<div class="row">
    <div class="col-3">
        <li class="list-group-item">
            <a class="nav-link" asp-controller="Account" asp-action="Edit">
                Редактировать профиль
            </a>
            <a class="nav-link" asp-controller="Account" asp-action="EditEmail">
                Изменить почту
            </a>
            <a class="nav-link" asp-controller="Account" asp-action="EditEmail">
                Безопасность
            </a>
        </li>
    </div>

    <div class="col-9">
       

    </div>
</div>